body {
  background-image: url("/Assets/background.png");
  background-color: rgb(255, 238, 247);
  background-size: 1500px;
}

.wrapper {
  vertical-align: middle;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh;
  width: 20%;
}

#message {
  border-radius: 10px;
  width: 90%;
  z-index: 1;
}
#message:hover {
  background-color: rgb(253, 227, 241);
  opacity: 20%;
}
.floating {
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}
footer {
  display: flex;
  justify-content: center;
  margin-top: 20vh;
  color: brown;
}
@media (max-width: 600px) {
  .wrapper {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  #message {
    margin-left: 20px;
  }
  footer {
    margin-top: 15vh;
  }
}
